<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app" v-cloak>
      <p>{{fullName()}}</p>

      <!-- 使用花括號，會以字串進行處理 -->
      <p>{{raw_url}}</p>
      <!-- 使用v-html則可以做轉譯 -->
      <p v-html="raw_url">{{raw_url}}</p>

      <hr />

      <label>FirstName:</label>
      <input type="text" v-model="firstName" />

      <label>LastName:</label>
      <!-- 原本的v-model -->
      <!-- <input type="text" v-model="lastName" /> -->

      <!-- input event, 方法1 -->
      <input
        type="text"
        :value="lastName"
        @input="event=>lastName=event.target.value"
      />
      <!-- input event, 方法2 -->
      <!-- <input type="text" :value="lastName" @input="onLastName" /> -->
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- ^^^ load CDN to use Vue -->
    <script src="app.js"></script>
  </body>
</html>
