<!DOCTYPE html>
<html>
  <head>
    <title>VueJS Course</title>
    <link rel="stylesheet" type="text/css" href="main.css" />
  </head>

  <body>
    <div id="app" v-cloak>
      <h2 style="color: green">{{`${age}的type:${typeof age}`}}</h2>

      <p>v-model="age" 輸入後變成string</p>
      <input type="text" v-model="age" />

      <hr />
      <p>v-model.number="age" 宣告這個可以維持number</p>
      <input type="text" v-model.number="age" />

      <hr />
      <p>
        v-model.lazy.number="age" 加個<span style="color: lightcoral">lazy</span
        >則需要按下Enter才會變更
      </p>
      <input type="text" v-model.lazy.number="age" />
      <button @click="age++">Increase</button>
      <button @click="age--">Decrease</button>
    </div>

    <script src="https://unpkg.com/vue@3/dist/vue.global.js"></script>
    <!-- ^^^ load CDN to use Vue -->
    <script src="app.js"></script>
  </body>
</html>
